body {
    height: 100vh;
    background:url('../../data_doc/img/docimg.jpg');
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card {
    
    overflow: hidden;
    border: 0;
    border-radius: 20px;
    box-shadow: 12px 12px 22px;
}


.card-body {
    padding: 2rem;
}

.title {
    margin-bottom: 2rem;
    font-size: 4rem;

}
.forget-link,
.register-link {
    color: #575b5e;
    font-weight: bold;
}

.forget-link:hover,
.register-link:hover {
    color: #000;
    text-decoration: none;
}
.buton_pin{
    width: 100%;
    height: 45px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    background: #000;
    color: #fff;
    font-size: 100%;
    font-weight: bold;
    letter-spacing: .1rem;
    transition: 0.5s;
    padding: 12px;
}
.buton_pin:hover {
    background: #575b5e;
}




